html {
    font-size: 10px;
    font-family: "方正黑体简体",Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}
dl {
    margin: 0;
}
.info {
    float: left;
    width: 90%;
}
.title{
    width: 90%;
    height: 8rem;
    border: 1px solid #858585;
    background-color: #858585;
}
.title h1{
    margin: 0;
    margin-left: 1.5rem;
    font-size: 2.3rem;
    color: #fff;
    line-height: 8rem;
}
.info div{
    width: 100%;
    border-bottom: 2px solid #E8E8E8;
    border-right: 2px solid #E8E8E8;
}
.info div::after{
    content: "";
    display: block;
    clear: both;
}
h2{
    float: left;
    width: 120px;
    height: 120px;
    margin: 0;
    font-size: 1.8rem;
    text-align: center;
    line-height: 120px;
    background-color: #D6D6D6;
}
a {
    color: #3443E9;
}
p { 
    display: inline-block;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1.5rem;
    font-weight: 800;
}
span {
    margin-right: 3rem;
}
dt{
    display: inline-block;
    margin-top: 1rem;
    margin-left: 1rem;
    font-weight: 800;
}
dd{
    display: inline-block;
   margin: 0;
}
.tag {
    position: fixed;
    cursor: pointer;
    width: 100px;
    height: 30px;
    right: 20px;
    font-size: 16px;
    color: #fff;
    line-height: 30px;
    background-color: rgb(119, 113, 113);
}